@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Background:#55423d;
    --backgroud-two:#271c19;
    --contend:#ffc0ad;
    
    --headline:#fffffe;
    --paragraph:#fff3ec;
    --button:#ffc0ad;
    --button-text:#271c19;
}

/* nav */
.navbar {
    position: absolute;
    padding: .1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
.navbar a {
    color: var(--headline);
}
.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
}
.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li {
    margin: 2.5rem;
}
.navbar .nav-links ul li a {
    font-weight: 600;
    transition: all .05s;
    
}
.navbar .nav-links ul li a:hover{
    border-bottom: solid var(--headline);
}
.navbar .nav-links ul li.active a {
    border-bottom: solid;
}
.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 1.65rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    filter: brightness(1.5) contrast(1.2) grayscale(100%);
    background-color: transparent;
    border:none;
}
.bi-list{
    color: var(--headline);
    font-size: 2rem;
    font-weight: 600;
}

/* header */
header {
    height: 100vh;
    width: 100vw;
    background-image: url(./Imagenes/imagenFondo.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 17rem;
}
.texto{
    color: var(--headline);
    padding: .5rem;
    width: 55%;
    height: 10rem;
    border-bottom: solid;
    display: flex;
    justify-content: center;
    margin: auto;
}
.titulo_principal {
    width: 55%;
    height: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: var(--headline);
    font-weight: 400;
}

.developer {
    width: 42%;
    height: 100%;
    font-size: 5rem;
    color: var(--backgroud-two);
    text-shadow: 10px 10px 15px rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.redeSociales {

    width: 100%;
    height: 5rem;
    bottom: 0;
    left: 0;
    margin-top: 22rem;
}
.contenedorRedes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}
.contenedorRedes li {
    padding: .1rem .5rem;
    font-size: 1.8rem;
    transition: all .2s ease ;
}
.contenedorRedes li:hover {
    transform: scale(1.2);
}
.contenedorRedes li a {
    color: var(--headline);
}


/* sobre mi */
.sobreMi{
    width: 100vw;
    height: 110vh;
    background-color: var(--Background);
}
.encabezado1{
    width: 100vw;
    height: 7rem;
    position: sticky;
    top: 0;
    background-color: var(--Background);

}
.subtituloSobreMI {
    width: 100vw;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--headline);
}
.contenedorSobreMi {
    border: solid;
    height: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenidoSobreMi{
    border: solid;
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--contend);
    padding: 1rem;
}
.parrafoSobreMi {
    border: solid;
    width: 50%;
    height: 40%;
}
.imagenSobreMi {
    border: solid;
    width: 40%;
    height: 90%;
    background-color: var(--headline);
    border-radius: 200px 0px 142px 35px;
    -moz-border-radius: 200px 0px 142px 35px;
    -webkit-border-radius: 200px 0px 142px 35px;
    border: 0px solid #000000;
}
/* portafolio */
.portafolio{
    border: solid;
    width: 100vw;
    height: 100rem;
}
@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }
    .navbar .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.378);
        backdrop-filter: blur(.4rem);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all .5s ease;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .navbar .logo {
        padding: 1.5rem;
        position: absolute;
        top: .05rem;
        left: .1rem;
    }
    .navbar .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger {
        display: block;
    }

    /* titulo pricipal */
    header {
        padding-top: 16rem;
        background-position: -560px 0px;
        padding-top: 21rem;
    }
    .texto{
        padding: .8rem;
        border-bottom: solid;
        flex-direction: column;
        align-items: center;
        width: 19rem;
        height: 8rem;
    }
    .titulo_principal {
        /* border: solid; */
        font-size: 2.5rem;
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .developer {
        /* border: solid; */
        font-size: 2.5rem;
        width: 100%;
        height: 50%;
        text-shadow: 10px 10px 10px rgb(50, 50, 50);
    }

    .redeSociales {
        width: 100%;
        height: 5rem;
        bottom: 0;
        left: 0;
        margin-top: 12rem;
    }

    /* sobre mi */
    .contenidoSobreMi{
        flex-direction: column-reverse;
    }
    .parrafoSobreMi {
        border: solid;
        width: 90%;
        height: 50%;
        font-size: .6rem;
    }
    .imagenSobreMi {
        border: solid;
        width: 90%;
        height: 50%;
        border-radius: 361px 0px 58px 27px;
    }
}